.herosection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
    ;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.heading1{
    color:#a07bea ;
}
.container{
    margin-top: 10px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.btn2{
    /* color:#a07bea ; */
    color: black;
   
    border-radius: 5px;
    height: 30px;
    /* border: none; */
}